* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    sans-serif;
  line-height: 1.6;
  background: #1a1a1a;
  color: #e0e0e0;

  .raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1200;
    font-style: normal;
  }
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://ik.imagekit.io/j4sminez03/Portfolio/background%20gif.gif?updatedAt=1766840729123);
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 15rem;
  margin-bottom: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 900;
  opacity: 100;
  transform: translateY(30px);
  animation: fadeInUp 1s ease 0.3s forwards;
}
h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  animation: fadeInUp 1s ease 0.5s forwards;
}
